<h1>Ranking</h1>
<li>
  <% @usuarios.first(10).each_with_index do |usuario, index|%>

    <% if usuario[0].nil? %>
      <ul><b><%= index + 1 %>. </b><%= usuario[1] %></ul>
    <% else %>
      <ul><b><%= index + 1 %>. </b><%= usuario[0] %></ul>
    <% end %>

  <% end %>
</li>
<%=link_to '<p class = "btn default">Menu Principal</p>'.html_safe, :controller => "menu_principal" %>
<br>
<style>
    .btn {
        border: none;
        background-color: #A9A9A9;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #808080;}

    .default {color: black;}
</style>
<script>

</script>