<h1>Partida</h1><br>
<%= form_with scope: :partida, url: "/partida/resultado", local: true do |form| %>
  <% @perguntas_quiz.each do |pergunta| %>
    <fieldset>
      <h1>Pergunta <%= @cont_pergunta %></h1>
      <p><%= pergunta.enunciado %></p><br>
      <%= form.radio_button "alternativas" + @cont_pergunta.to_s, pergunta.alternativa_correta == "a" ? 1 : 0, id: "P" + @cont_pergunta.to_s + "alternativa1", :checked => true%>
      <%= form.label :alternativa1, "#{pergunta.alternativa_a}", id: "alternativa1" %><br><br>
      <%= form.radio_button "alternativas" + @cont_pergunta.to_s, pergunta.alternativa_correta == "b" ? 1 : 0, id: "P" + @cont_pergunta.to_s + "alternativa2"%>
      <%= form.label :alternativa2, "#{pergunta.alternativa_b}", id: "alternativa2" %><br><br>
      <%= form.radio_button "alternativas" + @cont_pergunta.to_s, pergunta.alternativa_correta == "c" ? 1 : 0, id: "P" + @cont_pergunta.to_s + "alternativa3"%>
      <%= form.label :alternativa3, "#{pergunta.alternativa_c}", id: "alternativa3" %><br><br>
      <%= form.radio_button "alternativas" + @cont_pergunta.to_s, pergunta.alternativa_correta == "d" ? 1 : 0, id: "P" + @cont_pergunta.to_s + "alternativa4"%>
      <%= form.label :alternativa4, "#{pergunta.alternativa_d}", id: "alternativa4" %><br><br>
    </fieldset>
    <br><br>
    <% @cont_pergunta = @cont_pergunta + 1 %>
  <% end %>
  <%= form.submit "Finalizar" %>
<% end %>
<br>
<style>
    .btn {
        border: none;
        background-color: #A9A9A9;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #808080;}

    .default {color: black;}
</style>
<script>

</script>